.header{
    background:url('https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg');
    width: 83%;
    height: 45vh;
    margin: 20px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}